extends layout

block content
  h1= truckTime
  //if time is already on show start else show time on button
  button.btn TIME ON
  
  //if time is on show time off button, else show nothing.
  button.btn TIME OFF
  //OVERTIME ALERT
  //TODO: List active periods (24hr, 7day, 14day, 28day) 

  ul
    li current time working
    li last break

    //conditional on if currently working
    li can work until
    li then what is needed?

    //conditional on if not currently working
    li can next work
    li because what is needed
    
